<section class="feed">
    {%- assign feedPosts = site.posts | where: 'categories', feedType -%}
    {%- for post in feedPosts -%}
    <div class="feed-card">
        <div class="card-image">
            {%- assign postImage = post.image -%}
            {%- if postImage -%}
                <img src="{{postImage | relative_url}}" alt="" class="featured-image">
            {%- else -%}
                {%- assign postImage = "/assets/images/image-default.jpg" -%}
                <img src="{{postImage | relative_url}}" alt="" class="featured-image">
            {%- endif -%}
        </div>
        <div class="card-content">
            <div class="card-title">
                {%- assign postTitle = post.title | escape -%}
                <span class="title">{{postTitle}}</span>
            </div>
            <div class="card-excerpt">
                {%- assign postExcerpt = post.excerpt | strip_html | escape -%}
                <span class="excerpt">{{postExcerpt}}</span>
            </div>
            <div class="card-date">
                {%- assign postDate = post.date | date: "%b %d, %Y" -%}
                <span class="date">{{postDate}}</span>
            </div>
        </div>
    </div>
    {%- endfor -%}
</section>