---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

  {%- assign feedType = page.feed-type -%}
  {%- if feedType == "blog" or feedType =="podcast" -%}
    <h2>Featured post</h2>
    {%- assign displayOffset = 0 -%}
    {%- assign displayLimit = 1 -%}
    {%- assign sectionName = "featured-post" -%}
    {% include feed.html %}
  {%- endif -%}

  {%- assign feedType = page.feed-type -%}
  {%- if feedType == "blog" or feedType =="podcast" -%}
    <h2>Posts</h2>
    {%- assign displayOffset = 1 -%}
    {%- assign displayLimit = null -%}
    {%- assign sectionName = "feed" -%}
    {% include feed.html %}
  {%- endif -%}

</article>
